@font-face {
    font-family: "Myson Script DDR";
    src: url("../fonts/Digory_Doodles_PS.ttf");
    size-adjust: 50%;
    /* font source: https://www.fontsquirrel.com/fonts/digory-doodles */
}
@font-face {
    font-family: "Myson Handwriting BR";
    src: url("../fonts/Bilbo-Regular.otf");
    /* font source: https://www.fontsquirrel.com/fonts/bilbo */
}
@font-face {
    font-family: "Myson Backup Script AR";
    src: url("../fonts/AguafinaScript-Regular.ttf");
    /* font source: https://fonts.google.com/specimen/Aguafina+Script/about?query=aguafina */
}
@font-face {
    font-family: "Myson Backup Handwriting JH";
    src: url("../fonts/journal.ttf");
    /* font source: https://www.fontsquirrel.com/fonts/Journal */
}
@font-face {
    font-family: "Theodore Script SP";
    src: url("../fonts/Scriptina_Pro.otf");
    /* font source: https://www.fontsquirrel.com/fonts/scriptina-pro */
}
@font-face {
    font-family: "Theodore Handwriting RR";
    src: url("../fonts/Reey-Regular.otf");
    size-adjust: 60%;
    /* font source: https://www.fontsquirrel.com/fonts/reey */
}
@font-face {
    font-family: "Ares Handwriting BR";
    src: url("../fonts/Balgruf.otf");
    /* font source: https://www.fontsquirrel.com/fonts/balgruf */
}

:root {
    --text-color: #280a50;
    --background-color: #b4aac8;
}
.everything {
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h1 {
    margin-top: 0px;
}
p {
    margin-bottom: 0px;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
ol {
    margin-left: 20px;
    margin-right: 40px;
}
ol li {
    margin-bottom: 20px;
}
ol ul {
    list-style-type: disc;
    padding-left: 1em;
}
ul li {
    margin-bottom: 2px;
}
p.answer {
    margin-top: 2px;
}
table.links {
    width: 50%;
    margin: auto;
}
td.links {
    text-align: center;
    font-weight: bold;
    width: 33.333333%;
    width: calc(100% / 3);
}
table.info {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}
td.info {
    border: 2px solid;
    padding-left: 10px;
}
hr {
    border: none;
    height: 2px;
    background-color: var(--text-color);
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: -36px;
    margin-right: -36px;
}
.intro {
    width: 480px;
    margin: auto;
}
.indent {
    text-indent: 32px;
    margin-left: 64px;
    margin-right: 64px;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.page {
    display: grid;
    grid-template-rows: 840px 150px;
    background-color: var(--background-color);
    height: 990px;
    width: 765px;
    margin: auto;
    margin-bottom: 25px;
}
.pg-content {
    margin-top: 50px;
    grid-row-start: 1;
    overflow: hidden;
}
.pg-footer {
    display: flex;
    flex-direction: column;
    height: 125px;
    grid-row-start: 2;
    margin-left: 64px;
    margin-right: 64px;
    /* z-index: 10;
    bottom: 0;
    position: fixed;
    width: auto; 
    Movable, connected to bottom of the screen*/
}
.pg-num {
    margin-top: auto;
    margin-left: -64px;
    margin-right: -64px;
    text-align: center;
}
.sign {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 30px;
}
.myson-signature {
    font-family: Myson Script DDR, Myson Backup Script AR, Brush Script MT, Brush Script Std, cursive;
}
.myson-handwriting {
    font-family: Myson Handwriting BR, Myson Backup Handwriting JH, Brush Script MT, Brush Script Std, cursive;
}
.pearl-signature {
    font-family: Theodore Script SP, Brush Script MT, Brush Script Std, cursive;
}
.pearl-handwriting {
    font-family: Theodore Handwriting RR, Brush Script MT, Brush Script Std, cursive;
}
